
<div class="panel panel-primary">
  <div class="panel-heading"> <h4><%= current_user.email %>'s lists </h3><span class="badge"> X# Total Lists</span>
</div>
  
 <div class = "container"> 
  <div class = "media-body">
    <% @lists.each do |list| %> 
      <%= link_to list.name, list %>
      <%= list.description %> 
  </div>
    <% end %>
</div>

<button type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-pencil"></span> <%= link_to "Create New List", new_list_path %>
</button>

